.navigation {
    flex: 0 0 40%;
}

.list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.item {
    list-style: none;
}

.link {
    display: block;
    text-decoration: none;
    color: #000;
}
